*{
    margin:0;
    padding:0;
    
    

}
.main-format{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
   
    padding: 100px;
    background-color: rgb(219, 219, 236);
}
.box{
  
    padding: 30px 0px 0px 0px;
    margin: 23px -1px -24px -3px;

}
.first-box{
    grid-column: 2 span;
    background-color: rgb(124, 36, 212);
    background-image: url(images/bg-pattern-quotation.jpg);
    background-repeat: no-repeat;
    background-position: top right 10%;
    color:white;
    border-radius: 5px;
   
}


 .second-box{
    border: 1px solid  rgb(129, 122, 122);
    background-color:  rgb(129, 122, 122);
    color:rgb(5, 5, 5);
    border-radius: 5px;
 }

.third-box{
    grid-row: 2 span;
    border: 1px solid white;
    background-color: white;
    color:rgb(12, 12, 12);
    border-radius: 5px;
    
}
.fourth-box{
    border: 1px solid white;
    background-color:white;
    color:black;
    border-radius: 5px;
}
.fifth-box{
    grid-column:2 span;
    border: 1px solid black;
    background-color: black;
    color:white;
    border-radius: 5px;
}
p{
   
    padding: 5px 33px 8px 21px;
    font-size: 19px;
    margin: 3px;
}
h2{
    
    padding: 32px 4px 8px 8px;
     margin:0px 0px 0px 0px;
    font-size: 19px;
  
}
h3{
    
    padding-top:1px;
    padding-left: 68px;
    padding-right:1px;
    font-size: 19px;
    margin-top:-45px;
    margin-left:58px;
    margin-right:1px;
    margin-bottom:1px;

}
h5{
    color:white;
    color:white;
    padding-top:1px;
    padding-left: 65px;
    padding-right:1px;
    font-size: 10px;
    margin-top:1px;
    margin-left:70px;
    margin-right:1px;
    margin-bottom:1px;

    
}
img{
    border-radius: 50%;
    margin: 27px 0px 0px 63px;
    padding: 0px 0px 0px 0px;
   
    
}
.fourth-box p{
    color: rgb(49, 47, 47);
}
.fifth-box img{
    border: 2px solid blueviolet;

}
.third-box h3 ,h2, p{
    color: rgb(49, 47, 47);
}
.fourth-box h3 ,p,h2{
    color: black;
}
.third-box h5{
    color: rgb(84, 81, 81);
}
.first-box h5{
    color: rgb(240, 239, 239);
}
.second-box h5{
    color: rgb(240, 236, 236);
}
.fourth-box h5{
    color: rgb(84, 81, 81);
}
.fifth-box h5{
    color: rgb(215, 206, 206);
}
.fifth-box p{
    color:  rgb(227, 225, 225);
}
.fourth-box p{
    color: rgb(0, 0, 0);
}
.first-box p{
    color: rgb(240, 239, 239);
}
.second-box p,h2,h3 {
    color: rgb(240, 239, 239);
}
.third-box h2,p{
    color: rgb(72, 71, 71);
}
.fourth-box h2, p{
    color:  rgb(72, 71, 71);
}
.img1{
     width:1px;
     height:1px;
     margin:0px 0px 0px 0px;
     padding:0px 0px 0px 0px;
}


.first-box h1{
    margin-left: 1px;
    margin-left: 463px;
    margin-right: -29px;
    margin-top: -152px;
    color: rgb(172, 97, 242);
    font-size: 300px;
    margin-bottom: -190px;
}
